# Combining Dataframes using merge()

In [1]:
import pandas as pd

In [2]:
# Read the dataset
data=pd.read_csv('bigmart_data.csv')

In [3]:
# Counting the number of rows and columns of the dataframe.
data_rows = len(data.index)
data_columns = len(data.columns)
data_rows, data_columns

(8523, 12)

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
# Splitting the data
data_part1 = data[:100]
data_part2 = data[100:200]

In [6]:
data_part1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
data_part2.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
100,FDT28,13.30,Low Fat,0.063695,Frozen Foods,151.0708,OUT045,2002,NaN,Tier 2,Supermarket Type1,1805.6496
101,FDD10,NaN,Regular,0.045798,Snack Foods,178.5344,OUT027,1985,Medium,Tier 3,Supermarket Type3,2854.9504
102,FDW57,8.31,Regular,0.115857,Snack Foods,179.1028,OUT049,1999,Medium,Tier 1,Supermarket Type1,3896.2616
103,DRB48,16.75,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
104,FDP09,19.75,Low Fat,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2,3185.8530

In [8]:
data_part1_rows = len(data_part1.index)
data_part1_columns = len(data_part1.columns)
data_part1_rows, data_part1_columns

(100, 12)

In [9]:
data_part2_rows = len(data_part2.index)
data_part2_columns = len(data_part2.columns)
data_part2_rows, data_part2_columns

(100, 12)

In [10]:
# Merging dataframes with merge() and join='outer'
combined_data1 = pd.merge(data_part1, data_part2, on='Item_Fat_Content', how='outer')
combined_data1

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content,Item_Visibility_x,Item_Type_x,Item_MRP_x,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Visibility_y,Item_Type_y,Item_MRP_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,13.30,0.063695,Frozen Foods,151.0708,OUT045,2002,NaN,Tier 2,Supermarket Type1,1805.6496
1,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,19.75,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2,3185.8530
2,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,14.15,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
3,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,13.30,0.079806,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
4,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,NaN,0.071637,Snack Foods,121.7098,OUT027,1985,Medium,Tier 3,Supermarket Type3,4097.3332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733,FDM39,6.42,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,...,17.85,0.000000,Breads,196.5794,OUT010,1998,NaN,Tier 3,Grocery Store,585.2382
4734,FDC46,17.70,LF,0.195068,Snack Foods,185.4266,OUT010,1998,NaN,Tier 3,...,12.65,0.063018,Soft Drinks,159.0578,OUT045,2002,NaN,Tier 2,Supermarket Type1,2085.9514
4735,FDC46,17.70,LF,0.195068,Snack Foods,185.4266,OUT010,1998,NaN,Tier 3,...,17.85,0.000000,Breads,196.5794,OUT010,1998,NaN,Tier 3,Grocery Store,585.2382
4736,FDN04,11.80,reg,0.014087,Frozen Foods,180.3344,OUT046,1997,Small,Tier 1,...,13.85,0.026002,Frozen Foods,161.5210,OUT018,2009,Medium,Tier 3,Supermarket Type2,1794.3310
4737,FDN04,11.80,reg,0.014087,Frozen Foods,180.3344,OUT046,1997,Small,Tier 1,...,NaN,0.101339,Canned,232.6300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5359.6900

In [11]:
combined_data1_rows = len(combined_data1.index)
combined_data1_columns = len(combined_data1.columns)
combined_data1_rows, combined_data1_columns

(4738, 23)

In [12]:
# Merging dataframes with merge() and join='inner'
combined_data2 = pd.merge(data_part1, data_part2, on='Item_Fat_Content', how='inner')
combined_data2

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content,Item_Visibility_x,Item_Type_x,Item_MRP_x,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Visibility_y,Item_Type_y,Item_MRP_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,13.30,0.063695,Frozen Foods,151.0708,OUT045,2002,NaN,Tier 2,Supermarket Type1,1805.6496
1,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,19.75,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2,3185.8530
2,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,14.15,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
3,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,13.30,0.079806,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
4,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,NaN,0.071637,Snack Foods,121.7098,OUT027,1985,Medium,Tier 3,Supermarket Type3,4097.3332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733,FDM39,6.42,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,...,17.85,0.000000,Breads,196.5794,OUT010,1998,NaN,Tier 3,Grocery Store,585.2382
4734,FDC46,17.70,LF,0.195068,Snack Foods,185.4266,OUT010,1998,NaN,Tier 3,...,12.65,0.063018,Soft Drinks,159.0578,OUT045,2002,NaN,Tier 2,Supermarket Type1,2085.9514
4735,FDC46,17.70,LF,0.195068,Snack Foods,185.4266,OUT010,1998,NaN,Tier 3,...,17.85,0.000000,Breads,196.5794,OUT010,1998,NaN,Tier 3,Grocery Store,585.2382
4736,FDN04,11.80,reg,0.014087,Frozen Foods,180.3344,OUT046,1997,Small,Tier 1,...,13.85,0.026002,Frozen Foods,161.5210,OUT018,2009,Medium,Tier 3,Supermarket Type2,1794.3310
4737,FDN04,11.80,reg,0.014087,Frozen Foods,180.3344,OUT046,1997,Small,Tier 1,...,NaN,0.101339,Canned,232.6300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5359.6900

In [13]:
combined_data2_rows = len(combined_data2.index)
combined_data2_columns = len(combined_data2.columns)
combined_data2_rows, combined_data2_columns

(4738, 23)

In [14]:
# Merging dataframes with merge() and join='outer'
combined_data3 = pd.merge(data_part1, data_part2, on='Item_Type', how='outer')
combined_data3

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type,Item_MRP_x,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_MRP_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,13.30,Low Fat,0.079806,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
1,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,19.25,Low Fat,0.102350,52.7956,OUT017,2007,NaN,Tier 2,Supermarket Type1,928.1252
2,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,6.92,Low Fat,0.038532,60.5852,OUT045,2002,NaN,Tier 2,Supermarket Type1,1314.2892
3,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,5.75,Regular,0.075108,112.8176,OUT013,1987,High,Tier 3,Supermarket Type1,1374.2112
4,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,NaN,Regular,0.098664,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,FDH35,18.25,Low Fat,0.000000,Starchy Foods,164.7526,OUT045,2002.0,NaN,Tier 2,...,12.30,Regular,0.064750,92.6804,OUT045,2002,NaN,Tier 2,Supermarket Type1,1010.6844
846,NaN,NaN,NaN,NaN,Others,NaN,NaN,NaN,NaN,NaN,...,18.50,Low Fat,0.056816,132.1284,OUT010,1998,NaN,Tier 3,Grocery Store,263.6568
847,NaN,NaN,NaN,NaN,Others,NaN,NaN,NaN,NaN,NaN,...,12.80,Low Fat,0.091222,105.5938,OUT045,2002,NaN,Tier 2,Supermarket Type1,2143.8760
848,NaN,NaN,NaN,NaN,Others,NaN,NaN,NaN,NaN,NaN,...,14.50,Low Fat,0.019472,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
849,NaN,NaN,NaN,NaN,Others,NaN,NaN,NaN,NaN,NaN,...,14.60,Low Fat,0.059583,238.8538,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450

In [15]:
combined_data3_rows = len(combined_data3.index)
combined_data3_columns = len(combined_data3.columns)
combined_data3_rows, combined_data3_columns

(850, 23)

In [16]:
# Merging dataframes with merge() and join='inner'
combined_data4 = pd.merge(data_part1, data_part2, on='Item_Type', how='inner')
combined_data4

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type,Item_MRP_x,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_MRP_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,13.30,Low Fat,0.079806,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
1,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,19.25,Low Fat,0.102350,52.7956,OUT017,2007,NaN,Tier 2,Supermarket Type1,928.1252
2,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,6.92,Low Fat,0.038532,60.5852,OUT045,2002,NaN,Tier 2,Supermarket Type1,1314.2892
3,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,5.75,Regular,0.075108,112.8176,OUT013,1987,High,Tier 3,Supermarket Type1,1374.2112
4,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,NaN,Regular,0.098664,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,FDO23,17.85,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,...,12.60,Low Fat,0.048981,61.9194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
842,FDO23,17.85,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,...,17.85,LF,0.000000,196.5794,OUT010,1998,NaN,Tier 3,Grocery Store,585.2382
843,FDH35,18.25,Low Fat,0.000000,Starchy Foods,164.7526,OUT045,2002,NaN,Tier 2,...,NaN,Low Fat,0.059957,165.4526,OUT027,1985,Medium,Tier 3,Supermarket Type3,5262.4832
844,FDH35,18.25,Low Fat,0.000000,Starchy Foods,164.7526,OUT045,2002,NaN,Tier 2,...,16.00,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier 2,Supermarket Type1,6301.1312
845,FDH35,18.25,Low Fat,0.000000,Starchy Foods,164.7526,OUT045,2002,NaN,Tier 2,...,12.30,Regular,0.064750,92.6804,OUT045,2002,NaN,Tier 2,Supermarket Type1,1010.6844

In [17]:
combined_data4_rows = len(combined_data4.index)
combined_data4_columns = len(combined_data4.columns)
combined_data4_rows, combined_data4_columns

(846, 23)

In [18]:
# Note that data_part1 and data_part2 have the same shared keys on 'Item_Fat_Content'.
# But this is not the case on 'Item_Type'.
# So joining 'outer' and 'inner' causes differnt effects.
# There are some keys that either of the data_part1 or data_par2 don't have.
shared_keys1 = combined_data1_rows - combined_data2_rows
shared_keys2 = combined_data3_rows - combined_data4_rows
shared_keys1, shared_keys2

(0, 4)

In [19]:
# Finding these different keys:
item_type_keys_of_data_part1 = data_part1['Item_Type'].unique()
item_type_keys_of_data_part1

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods'], dtype=object)

In [20]:
len(item_type_keys_of_data_part1)

14

In [21]:
item_type_keys_of_data_part2 = data_part2['Item_Type'].unique()
item_type_keys_of_data_part2

array(['Frozen Foods', 'Snack Foods', 'Soft Drinks', 'Canned',
       'Baking Goods', 'Dairy', 'Meat', 'Breads', 'Household',
       'Hard Drinks', 'Health and Hygiene', 'Starchy Foods',
       'Fruits and Vegetables', 'Others', 'Breakfast'], dtype=object)

In [22]:
len(item_type_keys_of_data_part2)

15

In [23]:
for item1 in item_type_keys_of_data_part1:
    for item2 in item_type_keys_of_data_part2:
        if item1 == item2:
            print(item1)

Dairy
Soft Drinks
Meat
Fruits and Vegetables
Household
Baking Goods
Snack Foods
Frozen Foods
Breakfast
Health and Hygiene
Hard Drinks
Canned
Breads
Starchy Foods

In [24]:
for item2 in item_type_keys_of_data_part2:
    for item1 in item_type_keys_of_data_part1:
        if item2 == item1:
            print(item2)

Frozen Foods
Snack Foods
Soft Drinks
Canned
Baking Goods
Dairy
Meat
Breads
Household
Hard Drinks
Health and Hygiene
Starchy Foods
Fruits and Vegetables
Breakfast

In [25]:
for item1 in item_type_keys_of_data_part1:
    if item1 not in item_type_keys_of_data_part2:
        print('!!!>>> "{}" is not present in data_part2<<<!!!'.format(item1))
    else: print('"{}" is present in data_part2.'.format(item1))

"Dairy" is present in data_part2.
"Soft Drinks" is present in data_part2.
"Meat" is present in data_part2.
"Fruits and Vegetables" is present in data_part2.
"Household" is present in data_part2.
"Baking Goods" is present in data_part2.
"Snack Foods" is present in data_part2.
"Frozen Foods" is present in data_part2.
"Breakfast" is present in data_part2.
"Health and Hygiene" is present in data_part2.
"Hard Drinks" is present in data_part2.
"Canned" is present in data_part2.
"Breads" is present in data_part2.
"Starchy Foods" is present in data_part2.

In [26]:
# 'Others' is present in data_part2, but absent in data_part1.
for item2 in item_type_keys_of_data_part2:
    if item2 not in item_type_keys_of_data_part1:
        print('!!!>>> "{}" is not present in data_part1 <<<!!!'.format(item2))
    else: print('"{}" is present in data_part1.'.format(item2))

"Frozen Foods" is present in data_part1.
"Snack Foods" is present in data_part1.
"Soft Drinks" is present in data_part1.
"Canned" is present in data_part1.
"Baking Goods" is present in data_part1.
"Dairy" is present in data_part1.
"Meat" is present in data_part1.
"Breads" is present in data_part1.
"Household" is present in data_part1.
"Hard Drinks" is present in data_part1.
"Health and Hygiene" is present in data_part1.
"Starchy Foods" is present in data_part1.
"Fruits and Vegetables" is present in data_part1.
!!!>>> "Others" is not present in data_part1 <<<!!!
"Breakfast" is present in data_part1.

In [27]:
# So 4 samples with 'Item_Type'='Others' are present in data_part2 that are absent in data_part1.
# These 4 samples point to the difference between join innerly and outerly, i.e. shared_keys2=4.
data_part2[data_part2['Item_Type'].str.match('Others')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
139,NCN07,18.5,Low Fat,0.056816,Others,132.1284,OUT010,1998,NaN,Tier 3,Grocery Store,263.6568
142,NCO55,12.8,Low Fat,0.091222,Others,105.5938,OUT045,2002,NaN,Tier 2,Supermarket Type1,2143.8760
170,NCM43,14.5,Low Fat,0.019472,Others,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
197,NCN55,14.6,Low Fat,0.059583,Others,238.8538,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450

In [28]:
# Merging dataframes with merge() and join='inner'
# In this case, data_part1 and data_part2 only have one shared key, namely 'Item_MRP' = 222.5456.  
combined_data5 = pd.merge(data_part1, data_part2, on='Item_MRP', how='inner')
combined_data5

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type_x,Item_MRP,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_Type_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDV25,5.905,Low Fat,0.0,Canned,222.5456,OUT045,2002,NaN,Tier 2,...,5.905,Low Fat,0.045838,Canned,OUT018,2009,Medium,Tier 3,Supermarket Type2,3315.684

In [29]:
combined_data5_rows = len(combined_data5.index)
combined_data5_columns = len(combined_data5.columns)
combined_data5_rows, combined_data5_columns

(1, 23)

In [30]:
# And when we join the data parts outerly, we don't miss any data.
combined_data6 = pd.merge(data_part1, data_part2, on='Item_MRP', how='outer')
combined_data6

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type_x,Item_MRP,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_Type_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,NaN,NaN,NaN,NaN,NaN,37.6164,NaN,NaN,NaN,NaN,...,10.5,Low Fat,0.041395,Fruits and Vegetables,OUT046,1997.0,Small,Tier 1,Supermarket Type1,540.6296
195,NaN,NaN,NaN,NaN,NaN,48.0718,NaN,NaN,NaN,NaN,...,19.0,Regular,0.097313,Frozen Foods,OUT046,1997.0,Small,Tier 1,Supermarket Type1,992.7078
196,NaN,NaN,NaN,NaN,NaN,238.8538,NaN,NaN,NaN,NaN,...,14.6,Low Fat,0.059583,Others,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,6008.8450
197,NaN,NaN,NaN,NaN,NaN,62.9194,NaN,NaN,NaN,NaN,...,NaN,Regular,0.098664,Dairy,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2105.2596
198,NaN,NaN,NaN,NaN,NaN,232.6300,NaN,NaN,NaN,NaN,...,NaN,reg,0.101339,Canned,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,5359.6900

In [31]:
# 199 = 99 different 'Item_MRP's of data_part1 + 99 different 'Item_MRP's of data_part2 + 1 shared key (Item_MRP' = 222.5456) 
combined_data6_rows = len(combined_data6.index)
combined_data6_columns = len(combined_data6.columns)
combined_data6_rows, combined_data6_columns

(199, 23)

In [32]:
# Merging dataframes with merge() and join='left'
combined_data7 = pd.merge(data_part1, data_part2, on='Item_MRP', how='left')
combined_data7

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type_x,Item_MRP,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_Type_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,FDU04,NaN,Low Fat,0.009715,Frozen Foods,120.0414,OUT019,1985,Small,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,FDF41,12.15,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,FDB56,8.75,Regular,0.074613,Fruits and Vegetables,187.4556,OUT035,2004,Small,Tier 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NCP18,NaN,Low Fat,0.028460,Household,149.9708,OUT027,1985,Medium,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,FDB56,8.75,Regular,0.074627,Fruits and Vegetables,187.8556,OUT046,1997,Small,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Merging dataframes with merge() and join='right'
combined_data8 = pd.merge(data_part1, data_part2, on='Item_MRP', how='right')
combined_data8

,Item_Identifier_x,Item_Weight_x,Item_Fat_Content_x,Item_Visibility_x,Item_Type_x,Item_MRP,Outlet_Identifier_x,Outlet_Establishment_Year_x,Outlet_Size_x,Outlet_Location_Type_x,...,Item_Weight_y,Item_Fat_Content_y,Item_Visibility_y,Item_Type_y,Outlet_Identifier_y,Outlet_Establishment_Year_y,Outlet_Size_y,Outlet_Location_Type_y,Outlet_Type_y,Item_Outlet_Sales_y
0,FDV25,5.905,Low Fat,0.0,Canned,222.5456,OUT045,2002.0,NaN,Tier 2,...,5.905,Low Fat,0.045838,Canned,OUT018,2009,Medium,Tier 3,Supermarket Type2,3315.6840
1,NaN,NaN,NaN,NaN,NaN,151.0708,NaN,NaN,NaN,NaN,...,13.300,Low Fat,0.063695,Frozen Foods,OUT045,2002,NaN,Tier 2,Supermarket Type1,1805.6496
2,NaN,NaN,NaN,NaN,NaN,178.5344,NaN,NaN,NaN,NaN,...,NaN,Regular,0.045798,Snack Foods,OUT027,1985,Medium,Tier 3,Supermarket Type3,2854.9504
3,NaN,NaN,NaN,NaN,NaN,179.1028,NaN,NaN,NaN,NaN,...,8.310,Regular,0.115857,Snack Foods,OUT049,1999,Medium,Tier 1,Supermarket Type1,3896.2616
4,NaN,NaN,NaN,NaN,NaN,38.7822,NaN,NaN,NaN,NaN,...,16.750,Regular,0.024833,Soft Drinks,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,37.6164,NaN,NaN,NaN,NaN,...,10.500,Low Fat,0.041395,Fruits and Vegetables,OUT046,1997,Small,Tier 1,Supermarket Type1,540.6296
96,NaN,NaN,NaN,NaN,NaN,48.0718,NaN,NaN,NaN,NaN,...,19.000,Regular,0.097313,Frozen Foods,OUT046,1997,Small,Tier 1,Supermarket Type1,992.7078
97,NaN,NaN,NaN,NaN,NaN,238.8538,NaN,NaN,NaN,NaN,...,14.600,Low Fat,0.059583,Others,OUT049,1999,Medium,Tier 1,Supermarket Type1,6008.8450
98,NaN,NaN,NaN,NaN,NaN,62.9194,NaN,NaN,NaN,NaN,...,NaN,Regular,0.098664,Dairy,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
99,NaN,NaN,NaN,NaN,NaN,232.6300,NaN,NaN,NaN,NaN,...,NaN,reg,0.101339,Canned,OUT027,1985,Medium,Tier 3,Supermarket Type3,5359.6900