# Combining Dataframes using concat()

In [1]:
import pandas as pd

In [2]:
# Read the dataset
data=pd.read_csv('bigmart_data.csv')

In [3]:
# Counting the number of rows and columns of the dataframe.
data_rows = len(data.index)
data_columns = len(data.columns)
data_rows, data_columns

(8523, 12)

In [4]:
# Splitting the data
data_part1 = data[:3000]
data_part2 = data[3000:]

In [5]:
data_part1.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2995,FDT16,NaN,Regular,0.048427,Frozen Foods,258.7278,OUT027,1985,Medium,Tier 3,Supermarket Type3,5466.8838
2996,FDG12,6.635,Regular,0.006362,Baking Goods,121.1098,OUT017,2007,NaN,Tier 2,Supermarket Type1,2651.2156
2997,FDX22,6.785,Regular,0.023021,Snack Foods,208.9928,OUT045,2002,NaN,Tier 2,Supermarket Type1,2103.9280
2998,DRG37,16.200,Low Fat,0.019378,Soft Drinks,156.4972,OUT046,1997,Small,Tier 1,Supermarket Type1,1090.5804
2999,FDI26,5.940,Low Fat,0.035084,Canned,176.4344,OUT017,2007,NaN,Tier 2,Supermarket Type1,2141.2128

In [6]:
data_part2.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3000,FDK34,13.350,Low Fat,0.038605,Snack Foods,236.3564,OUT045,2002,NaN,Tier 2,Supermarket Type1,2145.2076
3001,FDO25,6.300,Low Fat,0.213324,Canned,208.5270,OUT010,1998,NaN,Tier 3,Grocery Store,419.4540
3002,FDV47,17.100,Low Fat,0.054514,Breads,84.4566,OUT017,2007,NaN,Tier 2,Supermarket Type1,591.8962
3003,FDU13,8.355,Low Fat,0.187850,Canned,146.5418,OUT049,1999,Medium,Tier 1,Supermarket Type1,2501.4106
3004,FDN57,18.250,Low Fat,0.054455,Snack Foods,142.0154,OUT018,2009,Medium,Tier 3,Supermarket Type2,850.8924

In [7]:
data_part1_rows = len(data_part1.index)
data_part1_columns = len(data_part1.columns)
data_part1_rows, data_part1_columns

(3000, 12)

In [8]:
data_part2_rows = len(data_part2.index)
data_part2_columns = len(data_part2.columns)
data_part2_rows, data_part2_columns

(5523, 12)

In [9]:
# Merging dataframes with concat(), note that the default is: join='outer' and axis=0
# axis 0 represents rows and axis 1 represents columns.
# join_axes is Deprecated since version 0.25.0.
combined_data = pd.concat([data_part1, data_part2], keys = ['part1', 'part2'])
combined_data

           Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
part1 0              FDA15        9.300          Low Fat         0.016047
      1              DRC01        5.920          Regular         0.019278
      2              FDN15       17.500          Low Fat         0.016760
      3              FDX07       19.200          Regular         0.000000
      4              NCD19        8.930          Low Fat         0.000000
...                    ...          ...              ...              ...
part2 8518           FDF22        6.865          Low Fat         0.056783
      8519           FDS36        8.380          Regular         0.046982
      8520           NCJ29       10.600          Low Fat         0.035186
      8521           FDN46        7.210          Regular         0.145221
      8522           DRG01       14.800          Low Fat         0.044878

                        Item_Type  Item_MRP Outlet_Identifier  \
part1 0                     Dairy  249.8092            OUT049
      1               Soft Drinks   48.2692            OUT018
      2                      Meat  141.6180            OUT049
      3     Fruits and Vegetables  182.0950            OUT010
      4                 Household   53.8614            OUT013
...                           ...       ...               ...
part2 8518            Snack Foods  214.5218            OUT013
      8519           Baking Goods  108.1570            OUT045
      8520     Health and Hygiene   85.1224            OUT035
      8521            Snack Foods  103.1332            OUT018
      8522            Soft Drinks   75.4670            OUT046

            Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
part1 0                          1999      Medium               Tier 1
      1                          2009      Medium               Tier 3
      2                          1999      Medium               Tier 1
      3                          1998         NaN               Tier 3
      4                          1987        High               Tier 3
...                               ...         ...                  ...
part2 8518                       1987        High               Tier 3
      8519                       2002         NaN               Tier 2
      8520                       2004       Small               Tier 2
      8521                       2009      Medium               Tier 3
      8522                       1997       Small               Tier 1

                  Outlet_Type  Item_Outlet_Sales
part1 0     Supermarket Type1          3735.1380
      1     Supermarket Type2           443.4228
      2     Supermarket Type1          2097.2700
      3         Grocery Store           732.3800
      4     Supermarket Type1           994.7052
...                       ...                ...
part2 8518  Supermarket Type1          2778.3834
      8519  Supermarket Type1           549.2850
      8520  Supermarket Type1          1193.1136
      8521  Supermarket Type2          1845.5976
      8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [10]:
combined_data_rows = len(combined_data.index)
combined_data_columns = len(combined_data.columns)
combined_data_rows, combined_data_columns

(8523, 12)

In [11]:
# Retrieving part one of the combined data using 'loc' method. 
combined_data.loc['part1']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,FDT16,NaN,Regular,0.048427,Frozen Foods,258.7278,OUT027,1985,Medium,Tier 3,Supermarket Type3,5466.8838
2996,FDG12,6.635,Regular,0.006362,Baking Goods,121.1098,OUT017,2007,NaN,Tier 2,Supermarket Type1,2651.2156
2997,FDX22,6.785,Regular,0.023021,Snack Foods,208.9928,OUT045,2002,NaN,Tier 2,Supermarket Type1,2103.9280
2998,DRG37,16.200,Low Fat,0.019378,Soft Drinks,156.4972,OUT046,1997,Small,Tier 1,Supermarket Type1,1090.5804
2999,FDI26,5.940,Low Fat,0.035084,Canned,176.4344,OUT017,2007,NaN,Tier 2,Supermarket Type1,2141.2128

In [12]:
combined_data_part1_rows = len(combined_data.loc['part1'].index)
combined_data_part1_columns = len(combined_data.loc['part1'].columns)
combined_data_part1_rows, combined_data_part1_columns

(3000, 12)