In [1]:
import os
import pandas as pd

In [2]:
# change directory to parent folder
os.chdir('D:\Faraz\Logs')

In [3]:
# change directory to specified folder
os.chdir('Unit4_MapClock_Test(2024-02-07)')

In [4]:
# print current folder
print(os.getcwd())

D:\Faraz\Logs\Unit4_MapClock_Test(2024-02-07)

In [5]:
# list files in the current folder
os.listdir()

['MapClock_1',
 'MapClock_2',
 'Only_U4_SINEC_Before.pcapng',
 'readme.txt',
 'Source_U4_Plant_After.csv',
 'Source_U4_Plant_Before.csv']

In [6]:
# read the dataset
data_bef = pd.read_csv('Source_U4_Plant_Before.csv')

In [7]:
# view the top results
data_bef.head()

              Source                                        Info
0  SiemensN_12:24:11        DT TPDU (461674) dst-ref: 0x0054 EOT
1  SiemensN_0d:24:21  AK TPDU (461675) dst-ref: 0x020f Credit: 1
2  SiemensN_12:24:12        DT TPDU (855119) dst-ref: 0x0414 EOT
3  SiemensN_0d:24:21        DT TPDU (897797) dst-ref: 0x020f EOT
4  SiemensN_12:24:11  AK TPDU (897798) dst-ref: 0x0054 Credit: 1

In [8]:
data_bef.describe()

                   Source                                               Info
count               37570                                              37570
unique                 25                                              31485
top     SiemensN_07:24:21  Conf. Root = 32768/0/00:80:63:02:6d:60  Cost =...
freq                 4494                                                100