In [1]:
import os
import pandas as pd

In [2]:
# change directory to parent folder
os.chdir('D:\Faraz\Logs')

In [3]:
# change directory to specified folder
os.chdir('Unit4_MapClock_Test(2024-02-07)')

In [4]:
# print current folder
print(os.getcwd())

D:\Faraz\Logs\Unit4_MapClock_Test(2024-02-07)

In [5]:
# list files in the current folder
os.listdir()

['MapClock_1',
 'MapClock_2',
 'Only_U4_SINEC_Before.pcapng',
 'readme.txt',
 'Source_U4_Plant_After.csv',
 'Source_U4_Plant_Before.csv']

In [6]:
# read the dataset
data_aft = pd.read_csv('Source_U4_Plant_After.csv')

In [7]:
# view the top results
data_aft.head()

              Source                                        Info
0  SiemensN_0b:24:12     CR TPDU src-ref: 0x0816 dst-ref: 0x0000
1  SiemensN_07:24:21         DT TPDU (27823) dst-ref: 0x020f EOT
2  SiemensN_0a:24:11   AK TPDU (27824) dst-ref: 0x0056 Credit: 1
3  SiemensN_12:24:11  AK TPDU (898733) dst-ref: 0x0054 Credit: 0
4  SiemensN_0a:24:12        DT TPDU (785711) dst-ref: 0x005f EOT

In [8]:
data_aft.describe()

                   Source                                      Info
count               44972                                     44972
unique                 16                                     36986
top     SiemensN_07:24:21  AK TPDU (3387) dst-ref: 0x0507 Credit: 1
freq                 6228                                        43