In [1]:
# import the required libraries
import os
import pandas as pd

In [2]:
# change directory to parent folder
os.chdir('D:\Faraz\Lan')
# read the dataset
data_mac_ip = pd.read_csv('mac-ip.csv')
# change directory to parent folder
os.chdir('D:\Faraz\Logs')
# change directory to specified folder
os.chdir('Unit4_MapClock_Test(2024-02-07)')
# read the dataset
data_bef = pd.read_csv('Source_U4_Plant_Before.csv')

In [3]:
# view the top results
data_bef.head()

              Source                                        Info
0  SiemensN_12:24:11        DT TPDU (461674) dst-ref: 0x0054 EOT
1  SiemensN_0d:24:21  AK TPDU (461675) dst-ref: 0x020f Credit: 1
2  SiemensN_12:24:12        DT TPDU (855119) dst-ref: 0x0414 EOT
3  SiemensN_0d:24:21        DT TPDU (897797) dst-ref: 0x020f EOT
4  SiemensN_12:24:11  AK TPDU (897798) dst-ref: 0x0054 Credit: 1

In [4]:
# view the unique values of 'Source' column in data_bef
data_bef['Source'].unique()

array(['SiemensN_12:24:11', 'SiemensN_0d:24:21', 'SiemensN_12:24:12',
       'SiemensN_0a:24:12', 'SiemensN_07:24:21', 'SiemensN_0a:24:11',
       'SiemensN_07:24:22', 'SiemensN_0d:24:22', 'SiemensN_0c:24:12',
       'SiemensN_0c:24:11', 'SiemensN_11:24:11', 'SiemensN_0b:24:11',
       'SiemensN_0f:23:11', 'SiemensN_0b:24:12', 'SiemensN_11:23:11',
       'SiemensN_11:24:12', 'SiemensN_06:26:12', 'RichardH_02:6d:60',
       'SiemensN_06:26:11', 'SiemensN_0f:23:12', 'SiemensN_11:23:12',
       'SiemensN_00:04:01', 'SiemensN_11:21:11', 'SiemensN_11:21:12',
       'SiemensN_08:23:22'], dtype=object)

In [5]:
# count the number of unique sources
len(data_bef['Source'].unique())

25

In [6]:
# view the top results
data_mac_ip.head()

   Row Device Unit    Type   IP                MAC Address
0    1   AP1A    1  CP1430  NaN  08:00:06:0d:21:11
1    2   AP1B    1  CP1430  NaN  08:00:06:0d:21:12
2    3   AP2A    1  CP1430  NaN  08:00:06:0e:21:11
3    4   AP2B    1  CP1430  NaN  08:00:06:0e:21:12
4    5   AP3A    1  CP1430  NaN  08:00:06:0f:21:11

In [7]:
# select just two columns
data_mac_ip[['MAC Address','Device']]

                   MAC Address               Device
0    08:00:06:0d:21:11                         AP1A
1    08:00:06:0d:21:12                         AP1B
2    08:00:06:0e:21:11                         AP2A
3    08:00:06:0e:21:12                         AP2B
4    08:00:06:0f:21:11                         AP3A
..                         ...                  ...
138          08:00:06:00:04:01      U4 Master Clock
139                        NaN  ACT1&2 Master Clock
140          08:00:06:00:06:01  ACT3&4 Master Clock
141          08:00:06:01:01:10             MapClock
142        00:80:63:02:6d:60\n         Plant Bridge

[143 rows x 2 columns]

In [8]:
# add a new column to data_mac_ip and remove the extra white spaces
data_mac_ip['Source'] = data_mac_ip['MAC Address'].str.strip()
data_mac_ip.head()

   Row Device Unit    Type   IP                MAC Address             Source
0    1   AP1A    1  CP1430  NaN  08:00:06:0d:21:11          08:00:06:0d:21:11
1    2   AP1B    1  CP1430  NaN  08:00:06:0d:21:12          08:00:06:0d:21:12
2    3   AP2A    1  CP1430  NaN  08:00:06:0e:21:11          08:00:06:0e:21:11
3    4   AP2B    1  CP1430  NaN  08:00:06:0e:21:12          08:00:06:0e:21:12
4    5   AP3A    1  CP1430  NaN  08:00:06:0f:21:11          08:00:06:0f:21:11

In [9]:
# an example of pattern substitution using regular expressions (irrelevant to the project)
import re
string = "08:00:06:0d:21:11"
pattern = r"08:00:06:"
regexp = re.compile(pattern)
regexp.sub("SiemensN_", string)

'SiemensN_0d:21:11'

In [10]:
# replace siemens mac address pattern in data_mac_ip's column
pattern = r'08:00:06:'
replacement = 'SiemensN_'
data_mac_ip['Source'] = data_mac_ip['Source'].str.replace(pattern, replacement)
data_mac_ip.head()

   Row Device Unit    Type   IP                MAC Address             Source
0    1   AP1A    1  CP1430  NaN  08:00:06:0d:21:11          SiemensN_0d:21:11
1    2   AP1B    1  CP1430  NaN  08:00:06:0d:21:12          SiemensN_0d:21:12
2    3   AP2A    1  CP1430  NaN  08:00:06:0e:21:11          SiemensN_0e:21:11
3    4   AP2B    1  CP1430  NaN  08:00:06:0e:21:12          SiemensN_0e:21:12
4    5   AP3A    1  CP1430  NaN  08:00:06:0f:21:11          SiemensN_0f:21:11

In [11]:
# replace siemens mac address pattern in data_mac_ip's column
pattern = r'00:80:63:'
replacement = 'RichardH_'
data_mac_ip['Source'] = data_mac_ip['Source'].str.replace(pattern, replacement)

In [12]:
# create a dataframe for mac addresses and correspondent devices
mac_device = data_mac_ip[['Source', 'Device']]
mac_device

                Source               Device
0    SiemensN_0d:21:11                 AP1A
1    SiemensN_0d:21:12                 AP1B
2    SiemensN_0e:21:11                 AP2A
3    SiemensN_0e:21:12                 AP2B
4    SiemensN_0f:21:11                 AP3A
..                 ...                  ...
138  SiemensN_00:04:01      U4 Master Clock
139                NaN  ACT1&2 Master Clock
140  SiemensN_00:06:01  ACT3&4 Master Clock
141  SiemensN_01:01:10             MapClock
142  RichardH_02:6d:60         Plant Bridge

[143 rows x 2 columns]

In [13]:
# convert the pandas dataframe into a dictionary (using T {transpose} and .to_dict() method)
mac_device_dict = mac_device.set_index('Source').T.to_dict('list')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.

In [14]:
# show the type of the mac_device_dict
type(mac_device_dict)

dict

In [15]:
# display the mac_device_dict
mac_device_dict

{'SiemensN_0d:21:11': ['AP1A'],
 'SiemensN_0d:21:12': ['AP1B'],
 'SiemensN_0e:21:11': ['AP2A'],
 'SiemensN_0e:21:12': ['AP2B'],
 'SiemensN_0f:21:11': ['AP3A'],
 'SiemensN_0f:21:12': ['AP3B'],
 'SiemensN_10:21:11': ['AP4A'],
 'SiemensN_10:21:12': ['AP4B'],
 'SiemensN_11:21:11': ['AP5A'],
 'SiemensN_11:21:12': ['AP5B'],
 'SiemensN_13:21:11': ['AP6A'],
 'SiemensN_13:21:12': ['AP6B'],
 'SiemensN_0d:22:11': ['AP21A'],
 'SiemensN_0d:22:12': ['AP21B'],
 'SiemensN_0e:22:11': ['AP22A'],
 'SiemensN_0e:22:12': ['AP22B'],
 'SiemensN_0f:22:11': ['AP23A'],
 'SiemensN_0f:22:12': ['AP23B'],
 'SiemensN_10:22:11': ['AP24A'],
 'SiemensN_10:22:12': ['AP24B'],
 'SiemensN_11:22:11': ['AP25A'],
 'SiemensN_11:22:12': ['AP25B'],
 'SiemensN_0e:23:11': ['AP31A'],
 'SiemensN_0e:23:12': ['AP31B'],
 'SiemensN_0f:23:11': ['AP32A'],
 'SiemensN_0f:23:12': ['AP32B'],
 'SiemensN_10:23:11': ['AP33A'],
 'SiemensN_10:23:12': ['AP33B'],
 'SiemensN_11:23:11': ['AP34A'],
 'SiemensN_11:23:12': ['AP34B'],
 'SiemensN_12:23:11': ['AP35A'],
 'SiemensN_12:23:12': ['AP35B'],
 'SiemensN_13:23:11': ['AP36A'],
 'SiemensN_13:23:12': ['AP36B'],
 'SiemensN_11:24:11': ['AP41A'],
 'SiemensN_11:24:12': ['AP41B'],
 'SiemensN_12:24:11': ['AP42A'],
 'SiemensN_12:24:12': ['AP42B'],
 'SiemensN_0a:24:11': ['AP43A'],
 'SiemensN_0a:24:12': ['AP43B'],
 'SiemensN_0b:24:11': ['AP44A'],
 'SiemensN_0b:24:12': ['AP44B'],
 'SiemensN_0c:24:11': ['AP45A'],
 'SiemensN_0c:24:12': ['AP45B'],
 'SiemensN_08:25:11': ['AP70A'],
 'SiemensN_08:25:12': ['AP70B'],
 'SiemensN_06:26:11': ['AP80A'],
 'SiemensN_06:26:12': ['AP80B'],
 'SiemensN_07:21:21': ['a01p1a'],
 '00:60:97:b0:f1:df': ['a01p1a'],
 'SiemensN_07:21:22': ['a01p1b'],
 '00:60:97:9e:4a:5a': ['a01p1b'],
 'SiemensN_12:21:21': ['a01p2a'],
 '00:60:97:7c:6e:87': ['a01p2a'],
 'SiemensN_12:21:22': ['a01p2b'],
 '00:60:97:7c:73:bc': ['a01p2b'],
 'SiemensN_09:21:32': ['a01es1'],
 '00:60:97:80:3e:93': ['a01es1'],
 'SiemensN_07:22:21': ['a02p1a'],
 '00:60:97:74:a3:01': ['a02p1a'],
 'SiemensN_07:22:22': ['a02p1b'],
 '00:60:97:76:34:cd': ['a02p1b'],
 'SiemensN_12:22:21': ['a02p2a'],
 '00:60:97:76:35:0a': ['a02p2a'],
 'SiemensN_12:22:22': ['a02p2b'],
 '00:60:97:7b:cd:57': ['a02p2b'],
 'SiemensN_0a:22:31': ['a02es1'],
 '00:60:97:b0:f1:5a': ['a02es1'],
 'SiemensN_07:23:21': ['a03p1a'],
 '00:10:4b:44:63:44': ['a03p1a'],
 'SiemensN_07:23:22': ['a03p1b'],
 '00:10:4b:44:64:fe': ['a03p1b'],
 'SiemensN_08:23:21': ['a03p2a'],
 '00:10:4b:44:65:6c': ['a03p2a'],
 'SiemensN_08:23:22': ['a03p2b'],
 '00:10:4b:44:64:ec': ['a03p2b'],
 'SiemensN_0a:23:32': ['a03es1'],
 '00:60:08:30:7c:b3': ['a03es1'],
 'SiemensN_0d:24:21': ['a04p1a'],
 '00:60:08:1b:53:25': ['a04p1a'],
 'SiemensN_0d:24:22': ['a04p1b'],
 '00:10:4b:44:64:0b': ['a04p1b'],
 'SiemensN_07:24:21': ['a04p2a'],
 '00:10:4b:44:64:90': ['a04p2a'],
 'SiemensN_07:24:22': ['a04p2b'],
 '00:10:4b:44:62:26': ['a04p2b'],
 'SiemensN_0f:24:31': ['a04es1'],
 '00:60:97:c7:70:15': ['a04es1'],
 'SiemensN_07:25:23': ['a07spa'],
 '00:60:08:4a:71:b8': ['a07spa'],
 'SiemensN_07:25:24': ['a07spb'],
 nan: ['ACT1&2 Master Clock'],
 'SiemensN_05:26:23': ['a08spa'],
 '00:10:4b:44:5d:9b': ['a08spa'],
 'SiemensN_05:26:24': ['a08spb'],
 '00:60:08:7d:b9:c9': ['a08spb'],
 '00:60:08:1a:f8:f2': ['a01spa'],
 '00:60:08:18:35:22': ['a01spb'],
 '00:60:97:74:a2:f4': ['a02spa'],
 '00:60:08:4a:70:72': ['a02spb'],
 '00:60:97:7e:70:29': ['a03spa'],
 '00:60:97:74:a3:91': ['a03spb'],
 '00:a0:24:f1:53:b4': ['a04spa'],
 '00:60:97:7c:6b:95': ['a04spb'],
 '00:60:97:74:a3:dd': ['a01ot1'],
 '00:60:97:76:34:de': ['a01ot2'],
 '00:60:08:18:39:89': ['a01ot3'],
 '00:50:04:1a:f0:ef': ['a01ot4'],
 '00:60:97:76:34:dd': ['a01ot5'],
 '00:60:08:19:06:a9': ['a01ot6'],
 '00:60:97:9e:4a:59': ['a02ot1'],
 '00:60:97:7e:6e:64': ['a02ot2'],
 '00:60:97:7c:6d:b2': ['a02ot3'],
 '00:60:97:81:a3:e2': ['a02ot4'],
 '00:60:97:74:a4:48': ['a02ot5'],
 '00:60:97:81:a4:ae': ['a02ot6'],
 '00:60:97:81:a4:d9': ['a03ot1'],
 '00:60:97:b0:f8:15': ['a03ot2'],
 '00:60:97:76:34:c7': ['a03ot3'],
 '00:60:97:76:34:92': ['a03ot4'],
 '00:60:97:76:34:d7': ['a03ot5'],
 '00:60:97:76:34:ab': ['a03ot6'],
 '00:60:97:7c:68:73': ['a04ot1'],
 '00:60:97:61:2f:78': ['a04ot2'],
 '00:60:97:80:28:ca': ['a04ot3'],
 '00:60:97:7f:fa:2d': ['a04ot4'],
 '00:60:97:7c:67:36': ['a04ot5'],
 '00:60:08:18:29:5e': ['a04ot6'],
 '00:60:08:18:3a:a9': ['a07ot1'],
 '00:60:08:81:a9:da': ['a08ot1'],
 '00:60:97:76:34:b5': ['a09s1b'],
 '00:60:97:76:35:59': ['a09ot2'],
 '00:60:08:19:06:84': ['a09ot3'],
 'SiemensN_00:01:01': ['U1 Master Clock'],
 'SiemensN_00:02:01': ['U2 Master Clock'],
 'SiemensN_00:03:01': ['U3 Master Clock'],
 'SiemensN_00:04:01': ['U4 Master Clock'],
 'SiemensN_00:06:01': ['ACT3&4 Master Clock'],
 'SiemensN_01:01:10': ['MapClock'],
 'RichardH_02:6d:60': ['Plant Bridge']}

In [16]:
# add a column for host names of the mac address (using .map() method and a reference dictionary)
data_bef['Device'] = data_bef['Source'].map(mac_device_dict)
# remove the brackets
data_bef['Device'] = data_bef['Device'].str[0]

In [17]:
# view the top results
data_bef.head()

              Source                                        Info  Device
0  SiemensN_12:24:11        DT TPDU (461674) dst-ref: 0x0054 EOT   AP42A
1  SiemensN_0d:24:21  AK TPDU (461675) dst-ref: 0x020f Credit: 1  a04p1a
2  SiemensN_12:24:12        DT TPDU (855119) dst-ref: 0x0414 EOT   AP42B
3  SiemensN_0d:24:21        DT TPDU (897797) dst-ref: 0x020f EOT  a04p1a
4  SiemensN_12:24:11  AK TPDU (897798) dst-ref: 0x0054 Credit: 1   AP42A

In [18]:
# view the unique values of 'Device' column in data_bef
data_bef['Device'].unique()

array(['AP42A', 'a04p1a', 'AP42B', 'AP43B', 'a04p2a', 'AP43A', 'a04p2b',
       'a04p1b', 'AP45B', 'AP45A', 'AP41A', 'AP44A', 'AP32A', 'AP44B',
       'AP34A', 'AP41B', 'AP80B', 'Plant Bridge', 'AP80A', 'AP32B',
       'AP34B', 'U4 Master Clock', 'AP5A', 'AP5B', 'a03p2b'], dtype=object)

In [19]:
# count the number of unique sources
len(data_bef['Device'].unique())

25

In [20]:
# store data_bef into a csv file
data_bef.to_csv('data_bef_sources.csv', sep = ',')